* {
  box-sizing: border-box;
}
body {
  background-color: #fff;
  margin: 0;
}
input {
  border:none;
  background-color: inherit;
}
h3 {
  margin: 0;
}
a {
  all: unset;
}
button {
  cursor: pointer;
}
p {
  margin: 0;
}
ul {
  padding: 0;
}